root = true

[*]
charset = utf-8
end_of_line = CRLF
indent_size = 1
indent_style = tab
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = single

[*.yml]
indent_size = 2
indent_style = space
